# Flask Settings
FLASK_SECRET_KEY=0b44ca19022clea18bb659b30fdf133a0fbc822f115c59cc64c58f2ccb8c71a5
FLASK_DEBUG=True

# Database Credentials
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Juneoct@9
DB_NAME=shopping_db

# ML Configurations
MAX_RECOMMENDATIONS=5
